process {
   errorStrategy = 'retry'
   maxRetries = 3
withName:'NFCORE_RNASEQ:RNASEQ:ALIGN_STAR:BAM_SORT_STATS_SAMTOOLS:BAM_STATS_SAMTOOLS:SAMTOOLS_FLAGSTAT' {
      cpus = 2
      memory = '1 GB'
   }
   withName:'NFCORE_RNASEQ:RNASEQ:ALIGN_STAR:BAM_SORT_STATS_SAMTOOLS:BAM_STATS_SAMTOOLS:SAMTOOLS_IDXSTATS' {
      cpus = 1
      memory = '1 GB'
   }
   withName:'NFCORE_RNASEQ:RNASEQ:ALIGN_STAR:BAM_SORT_STATS_SAMTOOLS:BAM_STATS_SAMTOOLS:SAMTOOLS_STATS' {
      cpus = 2
      memory = '1 GB'
   }
   withName:'NFCORE_RNASEQ:RNASEQ:ALIGN_STAR:BAM_SORT_STATS_SAMTOOLS:SAMTOOLS_INDEX' {
      cpus = 2
      memory = '1 GB'
   }
   withName:'NFCORE_RNASEQ:RNASEQ:ALIGN_STAR:BAM_SORT_STATS_SAMTOOLS:SAMTOOLS_SORT' {
      cpus = 7
      memory = '10 GB'
   }
   withName:'NFCORE_RNASEQ:RNASEQ:ALIGN_STAR:STAR_ALIGN_IGENOMES' {
      cpus = 7
      memory = '36 GB'
   }
   withName:'NFCORE_RNASEQ:RNASEQ:BAM_MARKDUPLICATES_PICARD:BAM_STATS_SAMTOOLS:SAMTOOLS_FLAGSTAT' {
      cpus = 2
      memory = '1 GB'
   }
   withName:'NFCORE_RNASEQ:RNASEQ:BAM_MARKDUPLICATES_PICARD:BAM_STATS_SAMTOOLS:SAMTOOLS_IDXSTATS' {
      cpus = 1
      memory = '1 GB'
   }
   withName:'NFCORE_RNASEQ:RNASEQ:BAM_MARKDUPLICATES_PICARD:BAM_STATS_SAMTOOLS:SAMTOOLS_STATS' {
      cpus = 2
      memory = '1 GB'
   }
   withName:'NFCORE_RNASEQ:RNASEQ:BAM_MARKDUPLICATES_PICARD:PICARD_MARKDUPLICATES' {
      cpus = 2
      memory = '24 GB'
   }
   withName:'NFCORE_RNASEQ:RNASEQ:BAM_MARKDUPLICATES_PICARD:SAMTOOLS_INDEX' {
      cpus = 2
      memory = '1 GB'
   }
   withName:'NFCORE_RNASEQ:RNASEQ:BAM_RSEQC:RSEQC_BAMSTAT' {
      cpus = 2
      memory = '1 GB'
   }
   withName:'NFCORE_RNASEQ:RNASEQ:BAM_RSEQC:RSEQC_INFEREXPERIMENT' {
      cpus = 2
      memory = '1 GB'
   }
   withName:'NFCORE_RNASEQ:RNASEQ:BAM_RSEQC:RSEQC_INNERDISTANCE' {
      cpus = 2
      memory = '1 GB'
   }
   withName:'NFCORE_RNASEQ:RNASEQ:BAM_RSEQC:RSEQC_JUNCTIONANNOTATION' {
      cpus = 2
      memory = '1 GB'
   }
   withName:'NFCORE_RNASEQ:RNASEQ:BAM_RSEQC:RSEQC_JUNCTIONSATURATION' {
      cpus = 2
      memory = '3 GB'
   }
   withName:'NFCORE_RNASEQ:RNASEQ:BAM_RSEQC:RSEQC_READDISTRIBUTION' {
      cpus = 2
      memory = '2 GB'
   }
   withName:'NFCORE_RNASEQ:RNASEQ:BAM_RSEQC:RSEQC_READDUPLICATION' {
      cpus = 2
      memory = '33 GB'
   }
   withName:'NFCORE_RNASEQ:RNASEQ:BEDGRAPH_BEDCLIP_BEDGRAPHTOBIGWIG_FORWARD:UCSC_BEDCLIP' {
      cpus = 1
      memory = '1 GB'
   }
   withName:'NFCORE_RNASEQ:RNASEQ:BEDGRAPH_BEDCLIP_BEDGRAPHTOBIGWIG_FORWARD:UCSC_BEDGRAPHTOBIGWIG' {
      cpus = 1
      memory = '1 GB'
   }
   withName:'NFCORE_RNASEQ:RNASEQ:BEDGRAPH_BEDCLIP_BEDGRAPHTOBIGWIG_REVERSE:UCSC_BEDCLIP' {
      cpus = 1
      memory = '1 GB'
   }
   withName:'NFCORE_RNASEQ:RNASEQ:BEDGRAPH_BEDCLIP_BEDGRAPHTOBIGWIG_REVERSE:UCSC_BEDGRAPHTOBIGWIG' {
      cpus = 1
      memory = '1 GB'
   }
   withName:'NFCORE_RNASEQ:RNASEQ:BEDTOOLS_GENOMECOV' {
      cpus = 2
      memory = '24 GB'
   }
   withName:'NFCORE_RNASEQ:RNASEQ:CUSTOM_DUMPSOFTWAREVERSIONS' {
      cpus = 1
      memory = '1 GB'
   }
   withName:'NFCORE_RNASEQ:RNASEQ:DESEQ2_QC_SALMON' {
      cpus = 5
      memory = '2 GB'
   }
   withName:'NFCORE_RNASEQ:RNASEQ:DESEQ2_QC_STAR_SALMON' {
      cpus = 3
      memory = '2 GB'
   }
   withName:'NFCORE_RNASEQ:RNASEQ:DUPRADAR' {
      cpus = 1
      memory = '1 GB'
   }
   withName:'NFCORE_RNASEQ:RNASEQ:FASTQ_FASTQC_UMITOOLS_TRIMGALORE:FASTQC' {
      cpus = 2
      memory = '2 GB'
   }
   withName:'NFCORE_RNASEQ:RNASEQ:FASTQ_FASTQC_UMITOOLS_TRIMGALORE:TRIMGALORE' {
      cpus = 8
      memory = '7 GB'
   }
   withName:'NFCORE_RNASEQ:RNASEQ:INPUT_CHECK:SAMPLESHEET_CHECK' {
      cpus = 1
      memory = '1 GB'
   }
   withName:'NFCORE_RNASEQ:RNASEQ:MULTIQC' {
      cpus = 2
      memory = '1 GB'
   }
   withName:'NFCORE_RNASEQ:RNASEQ:MULTIQC_CUSTOM_BIOTYPE' {
      cpus = 1
      memory = '1 GB'
   }
   withName:'NFCORE_RNASEQ:RNASEQ:PREPARE_GENOME:CUSTOM_GETCHROMSIZES' {
      cpus = 1
      memory = '1 GB'
   }
   withName:'NFCORE_RNASEQ:RNASEQ:PREPARE_GENOME:GTF_GENE_FILTER' {
      cpus = 1
      memory = '2 GB'
   }
   withName:'NFCORE_RNASEQ:RNASEQ:PREPARE_GENOME:MAKE_TRANSCRIPTS_FASTA' {
      cpus = 1
      memory = '4 GB'
   }
   withName:'NFCORE_RNASEQ:RNASEQ:PREPARE_GENOME:SALMON_INDEX' {
      cpus = 5
      memory = '19 GB'
   }
   withName:'NFCORE_RNASEQ:RNASEQ:QUALIMAP_RNASEQ' {
      cpus = 2
      memory = '18 GB'
   }
   withName:'NFCORE_RNASEQ:RNASEQ:QUANTIFY_SALMON:SALMON_QUANT' {
      cpus = 7
      memory = '18 GB'
   }
   withName:'NFCORE_RNASEQ:RNASEQ:QUANTIFY_SALMON:SALMON_SE_GENE' {
      cpus = 2
      memory = '1 GB'
   }
   withName:'NFCORE_RNASEQ:RNASEQ:QUANTIFY_SALMON:SALMON_SE_GENE_LENGTH_SCALED' {
      cpus = 2
      memory = '1 GB'
   }
   withName:'NFCORE_RNASEQ:RNASEQ:QUANTIFY_SALMON:SALMON_SE_GENE_SCALED' {
      cpus = 2
      memory = '1 GB'
   }
   withName:'NFCORE_RNASEQ:RNASEQ:QUANTIFY_SALMON:SALMON_SE_TRANSCRIPT' {
      cpus = 2
      memory = '1 GB'
   }
   withName:'NFCORE_RNASEQ:RNASEQ:QUANTIFY_SALMON:SALMON_TX2GENE' {
      cpus = 1
      memory = '10 GB'
   }
   withName:'NFCORE_RNASEQ:RNASEQ:QUANTIFY_SALMON:SALMON_TXIMPORT' {
      cpus = 2
      memory = '4 GB'
   }
   withName:'NFCORE_RNASEQ:RNASEQ:QUANTIFY_STAR_SALMON:SALMON_QUANT' {
      cpus = 6
      memory = '7 GB'
   }
   withName:'NFCORE_RNASEQ:RNASEQ:QUANTIFY_STAR_SALMON:SALMON_SE_GENE' {
      cpus = 3
      memory = '1 GB'
   }
   withName:'NFCORE_RNASEQ:RNASEQ:QUANTIFY_STAR_SALMON:SALMON_SE_GENE_LENGTH_SCALED' {
      cpus = 2
      memory = '1 GB'
   }
   withName:'NFCORE_RNASEQ:RNASEQ:QUANTIFY_STAR_SALMON:SALMON_SE_GENE_SCALED' {
      cpus = 2
      memory = '1 GB'
   }
   withName:'NFCORE_RNASEQ:RNASEQ:QUANTIFY_STAR_SALMON:SALMON_SE_TRANSCRIPT' {
      cpus = 2
      memory = '1 GB'
   }
   withName:'NFCORE_RNASEQ:RNASEQ:QUANTIFY_STAR_SALMON:SALMON_TX2GENE' {
      cpus = 1
      memory = '8 GB'
   }
   withName:'NFCORE_RNASEQ:RNASEQ:QUANTIFY_STAR_SALMON:SALMON_TXIMPORT' {
      cpus = 2
      memory = '1 GB'
   }
   withName:'NFCORE_RNASEQ:RNASEQ:STRINGTIE_STRINGTIE' {
      cpus = 2
      memory = '2 GB'
   }
   withName:'NFCORE_RNASEQ:RNASEQ:SUBREAD_FEATURECOUNTS' {
      cpus = 3
      memory = '1 GB'
   }
}